@page "/SpotifyLogin"
@inject NavigationManager Navigation

<h3>SpotifyLogin</h3>
@if (loginState == LoginState.Init)
{
    <button onclick="@AuthorizeSpotifyAccess">Authorize</button>
}

@if (loginState == LoginState.Authorized)
{
    <button onclick="@ReceiveAccessTokenAsync">Receive Access Token</button>
}